
.full {
  width: 100vw;
  padding: 0;
  margin: 0;
  @extend .clear;
}

.col {
  margin: 0;
  @extend .clear;
  

  &.col_full {
    width: 100vw;
  }

  &.col_half {
      width: 50vw;
      text-align: left;
      float: left;
  }

  &.col_8 {
    width: 50vw;
  }

  &.col_7 {
    width: 43.75vw;
  }

  &.col_6 {
    width: 37.5vw;
  }

  &.col_5 {
    width: 33.00vw;
  }

  &.col_4 {
      width: 25vw;
      text-align: center;
  }

  &.col_3 {
    width: 18.75vw;
    text-align: left;
  }

  &.col_2 {
    width: 12.5vw;
  }

  &.col_1 {
    width: 6.25vw;
    text-align: center;
  }

}


