@import url(http://weloveiconfonts.com/api/?family=brandico|fontawesome);

@import url(http://fonts.googleapis.com/css?family=Armata|Nobile:700,400italic,700italic,400|Sintony:400,700);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

a {
  color: $black;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
}

<<<<<<< .merge_file_6djU1Y
h1 {font-size: 1.5rem; 
    color: $white;
    font-family: 'Armata', 
    sans-serif;}
h2 {font-size: 4.5rem;font-style: normal ; color: $white ; opacity: 0.4; padding-top: 2%; text-shadow: 1px 1px 3px black}
=======
h1 {font-size: 1.5rem; color: $white;}
h2 {font-size: 4.5rem;font-style: normal ; color: $white ; opacity: 0.3; padding-top: 2%; text-shadow: 1px 1px 3px black}
>>>>>>> .merge_file_62E2EY
h3 {font-size: 1.8rem;
    font-style: bold;
    color:  $white ;
    }
h4 {font-size: 1.1rem;
<<<<<<< .merge_file_6djU1Y
    font-family: 'Armata',
=======
    font-style: bold;
>>>>>>> .merge_file_62E2EY
    }
h5 {font-size: 1.8rem;
    font-style: bold;
    color:  $black ;
    font-family: 'Armata', sans-serif;
  }
h6 {font-size: 0.8rem;
    color: $darkgrey;
<<<<<<< .merge_file_6djU1Y
    padding-right: 5px;
    font-family: 'Nobile', sans-serif;
=======
>>>>>>> .merge_file_62E2EY
    }

p {
  text-align: left;
  font-size: 1.1rem;
  padding-right: 10px;
  color: $black;
  line-height: 1.5rem;
  font-family: 'Nobile', sans-serif;

}

@media screen and (max-width: 1024px) {
  h1, h2, h3, h4, h5 {
    font-size: 1.2rem;
    word-break: break-all;
  }
}

@media screen and (max-width: 770px) {
    h1, h2, h3, h4, h5 {
      font-size: 1rem;
      .col & {
        word-break: break-all;
      }
  }
}

.center {
  text-align: center;
}

.background_red,
.background_grey {
  a {
    color: $white;
  }
}
