@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900italic,300italic,300,400italic,700,700italic,900);

@import url(http://weloveiconfonts.com/api/?family=brandico|fontawesome);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  font-family: klavika-web,sans-serif;
}

a {
  color: $black;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
}

h1 {font-size: 1.5rem; color: $white;}
h2 {font-size: 4.5rem;font-style: normal ; color: $white ; opacity: 0.3; padding-top: 2%; text-shadow: 1px 1px 3px black}
h3 {font-size: 1.8rem;
    font-style: bold;
    color:  $white ;
    }
h4 {font-size: 1.1rem;
    }
h5 {font-size: 1.8rem;
    font-style: bold;
    color:  $black ;}
h6 {font-size: 0.8rem;
    color: $darkgrey;
    }

p {
  text-align: left;
  font-size: 1.1rem;
  padding-right: 10px;
  color: $black;
  line-height: 1.5rem;

}

@media screen and (max-width: 1024px) {
  h1, h2, h3, h4, h5 {
    font-size: 1.2rem;
    word-break: break-all;
  }
}

@media screen and (max-width: 770px) {
    h1, h2, h3, h4, h5 {
      font-size: 1rem;
      .col & {
        word-break: break-all;
      }
  }
}

.center {
  text-align: center;
}

.background_red,
.background_grey {
  a {
    color: $white;
  }
}
