@mixin transition($type, $time) {
  -webkit-transition: $time $type;
  -moz-transition: $time $type;
  -ms-transition: $time $type;
  -o-transition: $time $type;
  transition: $time $type;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}