.header {
	height: 80px;
	border-bottom: 1px solid $white;

	&.twitter {
		background-color: $lightblue;
		
	}

	&.facebook {
		background-color: $blue;

	}
}

.logo {
	display: block;
	height: 80px;
	width: 60px;

	&.facebook-logo {
		background-color: $blue;	
	}

	&.twitter-logo {
		background-color: $lightblue;
	}
}

.competa-picture {
	background-color: #ccc;
	height: 80px;
	width: 80px;
}


.competa-username {
	padding-left: 10px;
	padding-top: 3%;	
}



