.container {
  width: 100%;
  height: auto;
}

.user-picture {
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	background-color: $grey;
	margin-left: 10px;
}


.informations-post {
	display: block;
	margin-left : 10px;

}

.float {
	float: left;
}


li {
	list-style: none;
	display: block;
}

ul {
	padding: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	display: block;


}

.last-posts-slider {
	background: #bcc5d3; /* Old browsers */
background: -moz-linear-gradient(top,  #bcc5d3 0%, #f6f7f8 7%, #f6f7f8 50%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcc5d3), color-stop(7%,#f6f7f8), color-stop(50%,#f6f7f8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bcc5d3 0%,#f6f7f8 7%,#f6f7f8 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bcc5d3 0%,#f6f7f8 7%,#f6f7f8 50%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bcc5d3 0%,#f6f7f8 7%,#f6f7f8 50%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bcc5d3 0%,#f6f7f8 7%,#f6f7f8 50%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcc5d3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */



	display: block;
	padding-top: 10px;
	margin: 0;
	height: 30vh;
}

.last-twitts-slider {
	background: #a1c6d1; /* Old browsers */
background: -moz-linear-gradient(top,  #a1c6d1 0%, #e1f2f7 7%, #e1f2f7 50%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1c6d1), color-stop(7%,#e1f2f7), color-stop(50%,#e1f2f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a1c6d1 0%,#e1f2f7 7%,#e1f2f7 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a1c6d1 0%,#e1f2f7 7%,#e1f2f7 50%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a1c6d1 0%,#e1f2f7 7%,#e1f2f7 50%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a1c6d1 0%,#e1f2f7 7%,#e1f2f7 50%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1c6d1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


	
	display: block;
	padding-top: 10px;
	margin: 0;
	height: 30vh;
}

.informations-facebook {
	display: block;
	margin: 0;
}

.box {
	height: 30vh;

		&.likes {
		background-color: $blue;
	}

		&.check-ins {
		background-color: #8b9dc3;
	}

		&.talking-about {
		background-color: #8b9dc3;
	}

		&.websiteurl {
		background-color: $blue;
	}

		&.status {
		background-color: #0084b4;
	}

		&.followers {
		background-color: #98c9e2;
	}

		&.favorities {
		background-color: #98c9e2;
	}

		&.friends {
		background-color: #0084b4;
	}

}

.box-text {
	padding-top: 10%;
}

.padding{
	padding-top: 25%;
}

